html,
html,body,h1,h2,h3,h4,h5,h6,p,p1,a{font-family: "Bungee", sans-serif}
body{
    background-image: url("background.png");
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5;
    
}
.title
h1{
color: #adffe3;
font-size: 72px;
text-align: center;
margin-top: 10pt;
margin: 0pt;
}


h2{
color: aquamarine;
text-align: center;
font-size: 46px;
text-align: center
;margin-left: 300pt;

}
article{
    background-color: #ffffff;
    text-align: center;
    border-radius: 50px 40px;
    width:50%;
    margin-left: 250pt;
}
a{
    color: #00f4bf;
    text-align: center;
    font-size: 38px;
    
}

.content{
    margin:0px 35%;
    width:max-content;
    
    
}
    h3{
        
        color: #ffffff;
        text-align: center;
        font-size: 30px;
        }

h4{

    text-align: center;
    color: #ffffff;
    font-size: 38px;
    margin: 0px;
}    
}
    
.footer{

    background-color: #002142;
    margin: 0px;
    height: 150px;
    padding: 40px;
}
p{
    color: #00ffaa;
    text-align: center;
    font-size: 38px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
  }
  .grid-item {
    
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }